h1 {
	text-align:center;
}

table, th, td {
   	border: 1px solid black;
}
.float_center {
  float: right;

  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}
.float_center > .child {
  position: relative;
  left: 50%;
}
th,td{
	height: 40px;
	width:10%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4F6D7A;
    width:100%;
}
li {
    float:left;
    border-left:1px solid #f1f1f2;
    border-right:1px solid #f1f1f2;
}

li:last-child {
    border-left:1px solid #f1f1f2;
    border-right: 1px solid #f1f1f2;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color:  #BCBABE;
}

.active {
    background-color: #8d230f;
}
.side{
    width: 45%;
    display: inline-block;
}
.imgSide1{
    width: 100%;
    padding-left:450px;
}
.imgSide{
    width: 100%;
}
body {
    width: 100%;
    height: 100%;
    font-family: Georgia;
    font-size: 3vh;
}
p,h2{
    width:1000px;
    margin-left: auto;
    margin-right: auto;
}
img {
    top: 100px;
    display: inline-block;  
    max-width: 20%;  
    max-height: 20%; 
    vertical-align:middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.right {
   float: right;
   max-width:40%;
   max-height:40%;
   right: 20%;
   top: 24%;
   position: absolute;
}
.ex1 {
    font-family: Georgia;
    font-size: 8vh; 
    line-height: 110%
}


